.vectors-container{
    background-color: red;
}
/* Vector 947 */

.vector-1{
position: absolute;
width: 5px;
height: 9px;

border: 1px solid #FFFFFF;
}

/* Vector 951 */

.vector-2{
position: absolute;
width: 5px;
height: 9.17px;

border: 1px solid #FFFFFF;
transform: rotate(45deg);
}

/* Vector 949 */

.vector-3{
position: absolute;
width: 5px;
height: 9px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
}

/* Vector 952 */

.vector-4{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(135deg);
}

/* Vector 948 */

.vector-5{
position: absolute;
width: 5px;
height: 10px;

opacity: 0.3;
border: 1px solid #FFFFFF;
}

/* Vector 953 */

.vector-6{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(45deg);
}

/* Vector 950 */

.vector-7{
position: absolute;
width: 5px;
height: 9px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
}

/* Vector 954 */

.vector-8{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(135deg);
}

/* Vector 955 */

.vector-9{
position: absolute;
width: 5px;
height: 9.17px;

border: 1px solid #FFFFFF;
transform: rotate(15deg);
}

/* Vector 963 */

.vector-10{
position: absolute;
width: 5px;
height: 9.17px;

border: 1px solid #FFFFFF;
transform: rotate(30deg);
}

/* Vector 956 */

.vector-11{
position: absolute;
width: 5px;
height: 9.17px;

border: 1px solid #FFFFFF;
transform: rotate(60deg);
}

/* Vector 964 */

.vector-12{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(75deg);
}

/* Vector 957 */

.vector-13{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(105deg);
}

/* Vector 965 */

.vector-14{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(120deg);
}

/* Vector 958 */

.vector-15{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(150deg);
}

/* Vector 966 */

.vector-16{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(165deg);
}

/* Vector 959 */

.vector-17{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(15deg);
}

/* Vector 967 */

.vector-18{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(30deg);
}

/* Vector 960 */

.vector-19{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(60deg);
}

/* Vector 968 */

.vector-20{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(75deg);
}

/* Vector 961 */

.vector-21{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(105deg);
}

/* Vector 969 */


.vector-22{
    position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(120deg);
}

/* Vector 962 */

.vector-23{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(150deg);
}

/* Vector 970 */

.vector-24{
position: absolute;
width: 5px;
height: 9.17px;

opacity: 0.3;
border: 1px solid #FFFFFF;
transform: rotate(165deg);
}