@import url("https://fonts.googleapis.com/css2?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

.flow,
.poppins,
.account {
  font-family: "Poppins";
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.charge-filter-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #191919;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

.topBar {
  align-items: center;
  border-bottom: 2px solid #333;
  display: flex;
  height: 98px;
  justify-content: center;
}
.toggleButton {
  margin: 1rem;
}
.iFrame {
  border: none;
  width: 100%;
  height: calc(100vh - 100px);
}
.topBar {
  align-items: center;
  border-bottom: 2px solid #333;
  display: flex;
  height: 98px;
  justify-content: center;
}
.toggleButton {
  margin: 1rem;
}
.iFrame {
  border: none;
  width: 100%;
  height: calc(100vh - 100px);
  /* color: #252525 */
}

/* .scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-margin-left: 5px;
  scrollbar-width: thin;
  border-radius: 20px;
  scrollbar-color: #6054f0 transparent;
} */

::selection {
  background: #6054f0;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  /* display: none; */
  /* scrollbar-color: transparent transparent; */
  background-color: transparent;
}
.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  /* display: none; */
  /* scrollbar-color: transparent transparent; */
  background-color: transparent;
}

.scrollbar-hide {
  scrollbar-color: transparent transparent;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
}

::-webkit-scrollbar {
  width: 14px;
  height: 20px;
  left: 10px;
  scrollbar-color: #6054f0 transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #6054f0;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 20px;
  height: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5449c9;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

@supports (scrollbar-color: #6054f0 transparent) {
  * {
    scrollbar-color: #6054f0 transparent;
    scrollbar-width: thin;
  }
}

/* Scroll bar stylings */
/* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  display: none;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--lightestgrey);
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.174);
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.149);
} */
.profile-gradient {
  background: rgb(51, 43, 141);
  background: -moz-linear-gradient(
    180deg,
    rgba(51, 43, 141, 1) 6%,
    rgba(51, 43, 141, 1) 63%,
    rgba(29, 29, 29, 1) 93%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(51, 43, 141, 1) 6%,
    rgba(51, 43, 141, 1) 63%,
    rgba(29, 29, 29, 1) 93%
  );
  background: linear-gradient(
    180deg,
    rgba(51, 43, 141, 1) 6%,
    rgba(51, 43, 141, 1) 63%,
    rgba(29, 29, 29, 1) 93%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#332b8d",endColorstr="#1d1d1d",GradientType=1);
}
