@import url("https://fonts.googleapis.com/css2?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2b2b2b
}

.flow,
.poppins,
.account {
  font-family: 'Poppins';
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #191919;
    position: fixed;
    bottom: 0;
    right: 0;

  }
}